.container {
  margin: 0 auto;
}

.container--design {
  background-color: $white-color;
}

@media (min-width: $desktop-width) {
  .container {
    width: 1280px;
    padding: 0 40px;
  }

  .container--design {
    background-color: #e7e5e5;
  }
}
