.form {
  padding-top: 25px;
}

.form__wrapper {
  @include list-reset;
  border: none;
  padding-bottom: 64px;
  position: relative;
  min-width: 280px;

  &::before {
    content: "";
    width: 100vw;
    height: 1px;
    display: block;
    background-color: #e5e5e5;
    position: absolute;
    top: -71px;
    left: -20px;
  }
}

.form__wrapper--size::before {
  top: -98px;
}

.form__wrapper--primary {
  padding-bottom: 59px;
}

.form__wrapper--secondary {
  padding-bottom: 46px;
}


.form__wrapper--comment {
  padding-bottom: 47px;

  &::before {
    top: -26px;
  }
}

.form__title {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 245px;
}

.form__comment {
  min-width: 279px;
  width: 100%;
  min-height: 150px;
  border: none;
  background-color: #f2f2f2;
  padding: 15px;
  resize: none;
  font-family: $main-font;
}

.form__comment::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: $main-font;
}

.form__button {
  background-color: $base-color;
  color: $white-color;
  padding: 16px 48px;
  font-size: 21px;
  margin-top: 3px;
  margin-bottom: 2px;
  width: 100%;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__required-text {
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  line-height: 21px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    padding: 0 60px;
    min-width: 648px;
  }

  .form__wrapper {
    min-width: 295px;
    width: 100%;

    &::before {
      display: none;
    }

    &:first-child::after {
      content: "";
      width: 1px;
      height: 338px;
      display: block;
      background-color: #dbdbdb;
      position: absolute;
      right: -30px;
      top: -63px;
    }
  }

  .form__wrapper--secondary {
    grid-column: 1 / -1;

    &::before,
    &::after {
      content: "";
      width: 19%;
      height: 1px;
      display: block;
      background-color: #dbdbdb;
      position: absolute;
      top: -43px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form__title {
    margin: 0 auto;
    width: 100%;
    max-width: 402px;
    font-size: 21px;
    margin-bottom: 28px;
  }

  .form__container {
    display: flex;
    grid-column: 1 / -1;
    gap: 132px;
    align-items: center;
    justify-content: space-between;
    margin-top: -4px;
  }

  .form__button {
    padding: 16px 49px;
    max-width: 324px;
    width: 100%;
    margin: 0;
  }

  .form__required-text {
    align-self: center;
    display: block;
    padding-top: 23px;
    padding-bottom: 14px;
    font-size: 14px;
  }

  .form__comment {
    min-height: 160px;
    overflow: hidden;

    &::placeholder {
      font-size: 18px;
      min-height: 160px;
    }
  }

  .form__wrapper--size {
    padding-bottom: 42px;

    &::before,
    &::after {
      top: -55px;
    }
  }

  .form__wrapper--comment {
    &::before,
    &::after {
      top: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px;
    column-gap: 100px;
  }

  .form__wrapper {
    padding-bottom: 71px;
  }

  .form__wrapper:first-child::after {
    right: -51px;
  }

  .form__wrapper--secondary {
    padding-bottom: 56px;

    & .form__title {
      margin-bottom: 28px;
    }

    .form-list {
      padding: 16px 53px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 28px;
    }

    .form-list__item {
      min-width: 280px;
    }

    .form-list__item--size {
      min-width: 153px;
    }

    .form-list--size {
      padding: 31px 53px;
      grid-template-columns: repeat(4, max-content);
      max-width: 960px;
      gap: 64px;
    }

    &::before,
    &::after {
      width: 280px;
    }

    .form-list__control {
      min-width: 91px;
    }
  }

  .form__wrapper--comment {
    padding-bottom: 43px;
  }

  .form__comment {
    width: 768px;
  }

  .form__container {
    width: 768px;
    margin: 0 auto;
  }

  .form__button {
    padding: 16px 49px;
    max-width: 384px;
    width: 100%;
    margin: 0;
  }
}
