.form-list {
  @include list-reset;
}

.form-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-list__item--row {
  flex-direction: row;
  align-items: center;
}

.form-list__subtitle {
  color: #333333;
  padding-left: 16px;
}

.form-list__subtitle--size {
  text-align: left;
  font-weight: 700;
  position: relative;
  display: block;
  min-height: 46px;
  padding-left: 62px;

  &:hover {
    .form-list__control-mark {
      background-color: #e5e5e5;
    }
  }

  &:active {
    .form-list__control-mark {
      background-color: #d5d5d5;
    }

    .form-list__input[type="radio"]:checked + .form-list__control-mark::before,
    .form-list__input[type="checkbox"]:checked + .form-list__control-mark::before {
      background-color: #3333334d;
    }
  }
}

.form-list__input {
  margin: 0;
  background-color: #f2f2f2;
  min-height: 58px;
  padding: 12px;
  border: 4px solid transparent;
  font-family: $main-font;
  width: 100%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    border-color: #e5e5e5;
    background-color: #ffffff;
  }
}

.form-list__input--size {
  width: 46px;
  height: 46px;
}

.form-list__input::placeholder {
  color: #000000;
}

.form-list__input--contacts::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-list__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 4px;
}

.form-list__control-mark--circle {
  border-radius: 50%;
}

.form-list__input[type="radio"]:checked + .form-list__control-mark::before {
  background: #3f5e72;
  border-radius: 20px;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-list__control {
  padding: 13px 0;
  min-width: 218px;
  display: block;
  text-transform: none;
  font-size: 18px;
}

.form-list__input[type="checkbox"]:checked + .form-list__control-mark::before {
  mask-image: url("../img/sprite.svg#icon-tick");
  background-color: #333333;
  content: "";
  display: block;
  width: 22px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-list__button {
  position: absolute;
  right: 0;
  top: 21px;
  background-color: #e6e6e6;
  display: block;
  width: 58px;
  height: 58px;
  border: none;
  padding: 0;
}

.form-list__button--phone::after {
  background-image: url("../img/sprite.svg#icon-phone");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-list__button--mail::after {
  background-image: url("../img/sprite.svg#icon-mail");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-list__input--contacts {
  min-width: 222px;
  padding-right: 72px;
}

@media (min-width: $tablet-width) {
  .form-list__input {
    font-size: 18px;
  }

  .form__wrapper--secondary {
    & .form-list {
      display: flex;
      align-items: center;
      position: relative;
      gap: 15px;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 0 36px;
    }

    .form-list--size {
      min-width: 480px;
      width: 100%;
      column-gap: 32px;
      justify-content: center;
    }
  }

  .form-list__item--row {
    margin: 0;
    max-width: 280px;
    width: 100%;
  }

  .form-list__item--size {
    max-width: 224px;
  }
}
