.gallery-item__image {
  order: -1;
  width: 100%;
}

.gallery-item__title {
  margin: 0;
  font-size: 14px;
}

.gallery-item__description {
  margin-bottom: 14px;
  color: #333333;
  text-transform: none;
}

.gallery-item__wrapper {
  text-align: left;
  padding-top: 15px;
}

.gallery-item__button {
  background-color: #ffffff;
  font-size: 14px;
  padding: 0;
}

.gallery-item__number {
  padding-top: 5px;
  font-weight: 700;
  padding-left: 37px;
  display: block;
  position: relative;

  &::before {
    mask-image: url("../img/sprite.svg#icon-like");
    background-color: #ffffff;
    content: "";
    width: 23px;
    height: 21px;
    position: absolute;
    top: 11px;
    left: 11px;
    transform: translate(-50%, -50%);
  }
}

.gallery-item__wrapper-image {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .gallery-item__wrapper-image {
    grid-column: 1 / -1;
  }

  .gallery-item:first-child {
    grid-column: 1 / -1;
  }

  .gallery-item__image {
    margin: 0;
  }

  .gallery-item {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
  }

  .gallery-item--another-color {
    background-color: #eaeaea;
  }

  .gallery-item__title {
    min-width: 209px;
  }

  .gallery-item__description {
    margin: 0;
  }

  .gallery-item__wrapper {
    padding: 22px 20px 15px;
    justify-self: start;
  }

  .gallery-item__container {
    padding: 28px 20px 27px;
    justify-self: end;
  }

  .gallery-item__number {
    padding-left: 30px;
    padding-right: 20px;
  }

  .gallery-item__button {
    margin-left: auto;
    background-color: inherit;
    padding: 27px 0;
  }
}

@media (min-width: $desktop-width) {
  .gallery-item {
    position: relative;
  }

  .gallery-item__wrapper {
    position: absolute;
    bottom: 0;
    color: #ffffff;
  }

  .gallery-item__description {
    color: inherit;
  }

  .gallery-item__button {
    position: absolute;
    bottom: 1px;
    right: 0;
    background-color: transparent;
  }

  .gallery-item__number {
    color: #ffffff;
  }
}
