.gallery-list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 17px;
}

.gallery-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 23px;
  padding-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 648px;
    padding-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-list {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 21px;
  }
}
