.gallery-list {
  @include list-reset;
}

.gallery-list__image {
  margin-bottom: 15px;
  order: -1;
}

.gallery-list__title {
  margin: 0;
}

.gallery-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  margin: 0 auto;
}

.gallery-list__number {
  padding-left: 37px;
  font-weight: 700;
}


@media (min-width: $tablet-width) {
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 648px;
  }
}
