.gallery__wrapper {
  padding: 38px 0 21px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 25px;
}

.gallery {
  padding: 0 20px;
}

.gallery__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__wrapper {
    padding: 66px 0 67px;
    max-width: 458px;
    margin: 0 auto;
  }

  .gallery__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .gallery__description {
    padding-left: 2px;

    & br {
      display: inline;
    }

    &nbsp {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    background-color: $white-color;
    padding: 0;
  }

  .gallery__wrapper {
    padding: 99px 0 67px;
  }

  .gallery__description {
    padding-left: 0;
  }
}
