.gallery__wrapper {
  padding: 37px 0 25px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 25px;
}

.gallery {
  padding: 0 20px;
}

@media (min-width: $desktop-width) {
  .gallery {
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__wrapper {
    padding: 66px 0 67px;
    max-width: 458px;
    margin: 0 auto;
  }
}
