.gallery__wrapper {
  padding: 37px 20px 25px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 25px;
}

.gallery__description {
  margin-bottom: 16px;
  color: #333333;
}

@media (min-width: $desktop-width) {
  .gallery {
    background-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__wrapper {
    padding: 66px 95px;
  }
}
