.gallery-item__image {
  order: -1;
  width: 100%;
}

.gallery-item__title {
  margin: 0;
  font-size: 14px;
}

.gallery-item__description {
  margin-bottom: 14px;
  color: #333333;
  text-transform: none;
}

.gallery-item__wrapper {
  text-align: left;
  padding-top: 15px;
}

.gallery-item__button {
  background-color: $white-color;
  font-size: 14px;
  padding: 0;
}

.gallery-item__number {
  padding-top: 4px;
  font-weight: 700;
  padding-left: 37px;
  display: block;
  position: relative;

  &::before {
    mask-image: url("../img/sprite.svg#icon-like");
    background-color: #000000;
    content: "";
    width: 23px;
    height: 21px;
    position: absolute;
    top: 8px;
    left: 11px;
    transform: translate(-50%, -50%);
  }
}

.gallery-item__link {
  display: block;
  width: 100%;
}

.gallery-item {
  position: relative;

  &::before,
  &:last-child::after {
    content: "";
    width: 100vw;
    height: 1px;
    display: block;
    background-color: #e5e5e5;
    position: absolute;
    left: -20px;
  }

  &::before {
    top: -2px;
  }

  &:last-child::after {
    bottom: 0;
  }
}

.gallery-item__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: $tablet-width) {
  .gallery-item__link {
    grid-column: 1 / -1;
  }

  .gallery-item:first-child {
    grid-column: 1 / -1;
  }

  .gallery-item__image {
    margin: 0;
  }

  .gallery-item {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;

    &::before {
      display: none;
    }

    &:last-child::after {
      display: none;
    }
  }

  .gallery-item--another-color {
    background-color: #eaeaea;
  }

  .gallery-item__title {
    min-width: 209px;
  }

  .gallery-item__description {
    margin: 0;
  }

  .gallery-item__wrapper {
    padding: 22px 20px 15px;
  }

  .gallery-item__number {
    padding-left: 30px;
    padding-right: 20px;
  }

  .gallery-item__button {
    margin-left: auto;
    background-color: inherit;
    padding: 27px 0;
  }

  .gallery-item__container {
    flex-direction: row;
    width: 100%;
    align-items: initial;
    min-width: 648px;
    min-height: 80px;
  }

  .gallery-item__container--small {
    min-width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .gallery-item {
    position: relative;
  }

  .gallery-item__wrapper {
    color: $white-color;
  }

  .gallery-item__wrapper--small {
    padding: 17px 25px;

    & .gallery-item__title {
      margin-bottom: 3px;
    }
  }

  .gallery-item__description {
    color: inherit;
  }

  .gallery-item__container {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
  }

  .gallery-item__button {
    background-color: transparent;
  }

  .gallery-item__number {
    color: $white-color;

    &::before {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
