.hero {
  background-color: #756157;
  background-image: url("../img/intro-triangle.svg"), url("../img/picture/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 320px;
}

.hero__image {
  margin-top: 90px;
  margin-bottom: 85px;
}
