.hero {
  background-color: #756157;
  background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero@1x.jpg");
  background-repeat: no-repeat;
  background-size: 200% 47px, 100% 100%;
  background-position: bottom, center;
  min-height: 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero@2x.jpg");
  }


  @media (min-width: $tablet-width) {
    min-height: 518px;
    background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero-tablet@1x.jpg");
    background-size: 100% 57px, 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero-desktop@2x.jpg");
    }
  }
}

.hero__image {
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 79px;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
    width: 461px;
    height: 350px;
  }
}

.hero__image--catalog {
  margin-top: 52px;
  margin-bottom: 67px;
}

.hero--catalog {
  background-color: #756157;
  background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero-catalog@1x.jpg");
  background-repeat: no-repeat;
  background-size: 200% 47px, 100% 135%;
  background-position: bottom, bottom;
  min-height: 158px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-ladder.svg"), url("../img/picture/bg-hero-catalog@2x.jpg");
    background-size: 200% 47px, 100% 135%;
  }


  @media (min-width: $tablet-width) {
    min-height: 518px;
    background-size: 100% 57px, 156% 100%;
  }

  @media (min-width: $desktop-width) {
    background-size: 100% 57px, 100% 100%;
  }
}
