.infrastructure-list {
  @include list-reset;
  background-color: #eeeeee;
}

.infrastructure-list__item--bg-primary {
  color: #ffffff;
  background-color: $base-color;
}

.infrastructure-list__wrapper-ladder {
  padding: 68px 18px 40px;
}

.infrastructure-list__wrapper {
  padding: 37px 18px;
}

.infrastructure-list__item {
  display: flex;
  flex-direction: column;
}

.infrastructure-list__title {
  margin: 0;
  margin-bottom: 12px;
}

.infrastructure-list__number {
  display: block;
  margin-bottom: 17px;
}

.infrastructure-list__item--small {
  padding: 22px 18px 27px;
}

@media (min-width: $tablet-width) {
  .infrastructure-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-width: 768px;
  }

  .infrastructure-list__item {
    width: 33%;
    min-width: 256px;
  }

  .infrastructure-list__item--bg-primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 768px;
  }

  .infrastructure-list__wrapper {
    display: flex;
    flex-direction: column;
    width: 33%;
    min-width: 256px;
  }

  .infrastructure-list__image {
    width: 67%;
    height: 256px;
  }
}
