.infrastructure-list {
  @include list-reset;
  background-color: #eeeeee;
}

.infrastructure-list__item--bg-primary {
  color: $white-color;
  background-color: $base-color;
}

.infrastructure-list__image {
  width: 100%;
  height: 260px;
}

.infrastructure-list__wrapper {
  padding: 37px 12px;
  width: 284px;
  margin: 0 auto;
}

.infrastructure-list__wrapper--ladder {
  padding: 33px 0 40px;
}

.infrastructure-list__item {
  display: flex;
  flex-direction: column;

  &:first-child::before {
    content: "";
    background-image: url("../img/sprite.svg#icon-ladder-advantages");
    background-repeat: no-repeat;
    background-size: 100% 37px;
    min-height: 37px;
  }
}

.infrastructure-list__title {
  margin: 0;
  margin-bottom: 11px;

  & br {
    display: none;
  }
}

.infrastructure-list__number {
  display: block;
  margin-bottom: 17px;
}

.infrastructure-list__item--small {
  padding: 24px 18px 27px;
  position: relative;


  &:not(:last-child)::after {
    content: "";
    width: 88%;
    height: 1px;
    display: block;
    background-color: #d6d6d6;
    position: absolute;
    bottom: 2px;
    right: 6%;
  }
}

@media (min-width: $tablet-width) {
  .infrastructure-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-width: 768px;
  }

  .infrastructure-list__item:first-child::before {
    display: none;
  }

  .infrastructure-list__item {
    width: 33%;
    min-width: 256px;
  }

  .infrastructure-list__title {
    margin-bottom: 13px;

    & br {
      display: inline;
    }
  }

  .infrastructure-list__number {
    margin-bottom: 24px;
  }

  .infrastructure-list__item--bg-primary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    min-width: 768px;
  }

  .infrastructure-list__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 190px;
    margin: 0 auto;
    padding: 52px 0 31px;
  }

  .infrastructure-list__wrapper-image {
    grid-column: 2 / -1;
    grid-row: 1/-1;
  }

  .infrastructure-list__wrapper-image--reverse {
    grid-column: 1 / 3;
    grid-row: 1/-1;
  }

  .infrastructure-list__item--small {
    padding: 41px 33px;
    max-width: 190px;
    margin: 0 auto;

    & .infrastructure-list__title {
      padding: 0 35px;
    }

    &:not(:last-child)::after {
      display: none;
    }
  }

  .infrastructure-list__image {
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .infrastructure-list__item--bg-primary {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .infrastructure-list__title {
    margin-bottom: 13px;
    padding: 0 52px;
  }

  .infrastructure-list__wrapper {
    max-width: 300px;
    padding: 0;
  }

  .infrastructure-list__item--small {
    padding: 52px 0;
    max-width: 300px;
    margin: 0 auto;

    & .infrastructure-list__title {
      padding: 0 72px;
    }
  }
}
