.main-header {
  min-height: 56px;
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 96px;
  width: 185px;
}

@media (min-width: $desktop-width) {
  .main-header {
    max-width: 1200px;
  }
}
