.main-footer {
  display: flex;
  flex-direction: column;
  padding: 33px 18px;
  gap: 30px;
}

.main-footer__title {
  font-size: 21px;
}

.social-list__link {
  width: 48px;
  height: 48px;
  background-color: $base-color;
  display: block;
  position: relative;
}

.social-list__link--vk::after {
  content: "";
  mask-image: url("../img/sprite.svg#icon-vk");
  background-color: #ffffff;
  width: 24px;
  display: block;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-list__link--telegram::after {
  content: "";
  mask-image: url("../img/sprite.svg#icon-telegram");
  background-color: #ffffff;
  width: 24px;
  display: block;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-list__link--youtube::after {
  content: "";
  mask-image: url("../img/sprite.svg#icon-youtube");
  background-color: #ffffff;
  width: 24px;
  display: block;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (min-width: $tablet-width) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 36px 120px;
    background-color: #ffffff;
  }
}
