.main-nav__toggle-image--close {
  background-color: $base-color;
}

.main-nav {
  position: absolute;
  width: 100%;
}

.main-nav__toggle {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 17px;
  right: 19px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

/*.main-nav--nojs {
  .main-nav__toggle--close {
    display: none;
  }

  .nav-list {
    display: none;
  }
}*/
