.main-header {
  max-height: 56px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    height: 96px;
    margin: 0 auto;
    width: 20%;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1200px;
  }
}
