.main-header {
  min-height: 56px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    max-width: 1200px;
  }
}
