.main-footer {
  display: flex;
  flex-direction: column;
  padding: 33px 18px;
  gap: 30px;
}

.main-footer__title {
  font-size: 21px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 36px 120px;
    background-color: $white-color;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
