.main-nav {
  width: auto;
  z-index: 3;
}

.main-nav__toggle-image {
  background-color: $white-color;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  position: absolute;
  z-index: 2;
  top: 17px;
  right: 19px;
  background-color: $white-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: $base-color;
  box-shadow: 0 10px 0 0 $base-color, 0 20px 0 0 $base-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade($base-color, 30%);
  box-shadow:
    0 10px 0 0 fade($base-color, 30%),
    0 20px 0 0 fade($base-color, 30%);
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .nav-list {
    display: none;
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .nav-list {
      position: static;
      display: block;
      margin-top: 95px;
    }
  }
}

.main-nav--opened .main-nav__toggle {
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -3px;
    width: 28px;
    height: 4px;
    background-color: $white-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade($white-color, 60%);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
    position: static;
  }
}
