.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  flex-direction: column;
  gap: 6px;
}

.modal__container {
  position: relative;
  margin: auto;
  background-color: $white-color;
}

.modal__content {
  padding: 45px 42px 35px 41px;
}

.modal__content--review {
  padding: 45px 39px 24px 37px;
}

.modal__title {
  margin: 0;
  margin-bottom: 25px;

  & br {
    display: none;
  }
}

.modal__description {
  margin-bottom: 28px;
}

.modal__description--review {
  margin-bottom: 21px;
}

.modal__close-button {
  padding: 0;
  width: 76%;
}

.modal__close-button--review {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
}

.modal__button-text {
  padding: 18px 64px 14px;
  display: block;
  background-color: $base-color;
  color: $white-color;
}

.modal--close {
  display: none;
}

@media (min-width: $tablet-width) {
  .modal__container {
    width: 400px;
  }

  .modal__container--review {
    width: 640px;
  }

  .modal__content {
    padding: 50px 47px 49px;
  }

  .modal__content--review {
    padding: 44px 98px 6px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 22px;

    & br {
      display: inline;
    }
  }

  .modal__title--review {
    margin-bottom: 23px;
  }

  .modal__description {
    margin-bottom: 46px;
  }

  .modal__close-button {
    width: 89%;
  }

  .modal__close-button--review {
    width: 100%;
    padding: 44px 91px;
  }
}
