.nav-list {
  @include list-reset;
  position: absolute;
  top: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.nav-list__link {
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
}


.nav-list__link--mobile {
  color: #ffffff;
  display: block;
  background-color: $base-color;
  padding-top: 17px;
  padding-bottom: 12px;
}

.nav-list__item {
  position: relative;
}

.nav-list__item--current {
  color: #766357;
}

.main-nav__toggle-image {
  position: absolute;
  top: 17px;
  right: 16px;
}

