.nav-list {
  @include list-reset;
  position: absolute;
  width: 100%;
  background: $base-color;
  min-height: 223px;
}

.nav-list__link {
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  color: $white-color;
  display: block;
  padding-top: 17px;
  padding-bottom: 11px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }
}

.nav-list__item--current {
  color: #766357;
}

@media (min-width: $tablet-width) {
  .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    position: static;
    min-height: 56px;
    background-color: $white-color;
  }

  .nav-list__item {
    width: 20%;
    min-width: 153px;
  }

  .nav-list__item:nth-child(4n+3) {
    margin-left: 20%;
  }

  .nav-list__link {
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: $white-color;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    border: none;

    &:hover {
      color: $base-color;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .nav-list__link--current {
    color: #766357;
  }
}

@media (min-width: $desktop-width) {
  .nav-list__item {
    min-width: 240px;
  }
}
