
.page__body {
  font-family: $main-font;
  width: 320px;
  margin: 0 auto;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  background-color: #e7e5e5;
  text-transform: uppercase;
}
