.search__container {
  padding: 38px 29px 32px;
}

.search__container--catalog {
  padding: 17px 26px 38px 28px;
}

.search__button {
  background-color: $base-color;
  color: #ffffff;
  padding: 16px 49px;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 49px;
}

.search__title {
  margin: 0;
  margin-bottom: 22px;
}

@media (min-width: $desktop-width) {
  .search {
    background-color: #ffffff;
  }
}
