.search {
  padding: 38px 18px 49px;
}

.search__container {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.search__container--catalog {
  padding: 17px 26px 38px 28px;
}

.search__link {
  text-decoration: none;
  background-color: $base-color;
  display: block;
  color: $white-color;
  padding: 16px 49px;
  font-size: 21px;
  line-height: 26px;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.search__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
}

.search__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .search {
    padding: 62px 0 56px;
  }

  .search__container {
    max-width: 435px;
    margin-bottom: 44px;
  }

  .search__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .search__link {
    margin: 0 auto;
    max-width: 458px;
  }

  .search__description br {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .search {
    background-color: $white-color;
    padding-bottom: 66px;
  }

  .search__title {
    line-height: 27px;
  }
}
