.services-list {
  @include list-reset;
  background-color: #ffffff;
  padding-top: 23px;
  padding-bottom: 13px;
}

.services-list__title {
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 65px;
  color: #000000;
}

.services-list__description {
  margin: 0;
  margin-bottom: 33px;
  padding-left: 65px;
  text-align: left;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .services-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 768px;
    padding: 0;
  }

  .services-list__item {
    width: 33%;
    min-width: 256px;
  }
}
