.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../img/sprite.svg#icon-video");
  background-repeat: no-repeat;
  width: 48px;
  height: 54px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 0;
  font-family: $main-font;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.video__wrapper {
  position: relative;
}

.video__container {
  padding: 17px 26px 38px 28px;
  max-width: 445px;
  margin: 0 auto;
}

.video__title {
  margin: 0;
  margin-bottom: 27px;
}

.video__image {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .video__container {
    padding: 58px 0 66px;
    margin-bottom: 24px;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .video__wrapper {
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    background-color: $white-color;
  }

  .video__wrapper {
    margin-bottom: 79px;
  }
}
