*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans.woff2") format("woff2"), url("/fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsansbold.woff2") format("woff2"), url("/fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0 auto;
  height: 100%;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  background-color: #e7e5e5;
  text-transform: uppercase;
}

.main-header {
  min-height: 56px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-header__logo {
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (min-width: 1280px) {
  .main-header {
    max-width: 1200px;
  }
}
.main-nav__toggle-image {
  background-color: #ffffff;
}

.main-nav__toggle-image--close {
  background-color: #81b3d2;
}

.main-nav {
  position: absolute;
  width: 100%;
}

.main-nav__toggle {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 17px;
  right: 19px;
  padding: 0;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: 1200px;
    position: static;
    background-color: #ffffff;
  }
}
/*.main-nav--nojs {
  .main-nav__toggle--close {
    display: none;
  }

  .nav-list {
    display: none;
  }
}*/
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__link {
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  display: block;
  background-color: #81b3d2;
  padding-top: 17px;
  padding-bottom: 12px;
}

.nav-list__item--current {
  color: #766357;
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: static;
  }

  .nav-list__item {
    width: 20%;
  }

  .nav-list__item:nth-child(3n) {
    margin-left: 20%;
  }

  .nav-list__link {
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
.hero {
  background-color: #756157;
  background-image: url("../img/intro-triangle.svg"), url("../img/picture/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__image {
  margin-top: 90px;
  margin-bottom: 79px;
}

.hero__image--catalog {
  margin-top: 52px;
  margin-bottom: 63px;
}

@media (min-width: 1280px) {
  .hero {
    max-width: 1200px;
  }
}
.advantages__title {
  margin: 0;
  margin-bottom: 38px;
}

.advantages__container {
  padding: 32px 18px 16px;
}

@media (min-width: 1280px) {
  .advantages {
    background-color: #ffffff;
  }
}
.title {
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  mix-blend-mode: normal;
}

.text {
  margin: 0;
  color: #333333;
}

.text--light {
  color: #ffffff;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}

.infrastructure-list__item--bg-primary {
  color: #ffffff;
  background-color: #81b3d2;
}

.infrastructure-list__wrapper-ladder {
  padding: 68px 18px 40px;
}

.infrastructure-list__wrapper {
  padding: 37px 18px;
}

.infrastructure-list__item {
  display: flex;
  flex-direction: column;
}

.infrastructure-list__title {
  margin: 0;
  margin-bottom: 12px;
}

.infrastructure-list__number {
  display: block;
  margin-bottom: 17px;
}

.infrastructure-list__item--small {
  padding: 22px 18px 27px;
}

@media (min-width: 768px) {
  .infrastructure-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-width: 768px;
  }

  .infrastructure-list__item {
    width: 33%;
    min-width: 256px;
  }

  .infrastructure-list__item--bg-primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 768px;
  }

  .infrastructure-list__wrapper {
    display: flex;
    flex-direction: column;
    width: 33%;
    min-width: 256px;
  }

  .infrastructure-list__image {
    width: 67%;
    height: 256px;
  }
}
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  padding-top: 23px;
  padding-bottom: 13px;
}

.services-list__title {
  margin-top: 8px;
  margin-bottom: 16px;
  text-align: left;
  padding-left: 65px;
  color: #000000;
}

.services-list__description {
  margin: 0;
  margin-bottom: 33px;
  padding-left: 65px;
  text-align: left;
  color: #333333;
}

@media (min-width: 768px) {
  .services-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 768px;
    padding: 0;
  }

  .services-list__item {
    width: 33%;
    min-width: 256px;
  }
}
.search__container {
  padding: 38px 29px 32px;
}

.search__container--catalog {
  padding: 17px 26px 38px 28px;
}

.search__button {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 49px;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 49px;
}

.search__title {
  margin: 0;
  margin-bottom: 22px;
}

@media (min-width: 1280px) {
  .search {
    background-color: #ffffff;
  }
}
.map {
  position: relative;
}

.map__button {
  position: absolute;
  top: 50%;
  left: 50%;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding: 33px 18px;
  gap: 30px;
}

@media (min-width: 768px) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .main-footer {
    padding: 36px 120px;
    background-color: #ffffff;
  }
}
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 6px;
}

.social-list__item {
  width: 48px;
  height: 48px;
}

.gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

.gallery-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 648px;
  }
}
.gallery__wrapper {
  padding: 37px 0 25px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 25px;
}

.gallery {
  padding: 0 20px;
}

@media (min-width: 1280px) {
  .gallery {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__wrapper {
    padding: 66px 0 67px;
    max-width: 458px;
    margin: 0 auto;
  }
}
.form-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 39px;
}

.form-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  width: 280px;
}

.form-list__subtitle {
  color: #333333;
  margin-left: 16px;
}

.form-list__input {
  width: 280px;
  margin: 0;
  background-color: #f2f2f2;
  border: none;
  min-height: 58px;
  padding: 16px;
}

.form-list__input::placeholder {
  color: #000000;
}

.form-list__item--row {
  flex-direction: row;
  align-items: center;
  width: 280px;
}

.form-list__input--contacts::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-list__input--size {
  width: 46px;
  height: 46px;
}

.form-list__subtitle--size {
  width: 218px;
  text-align: left;
  font-weight: 700;
}

.form__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.form {
  padding-top: 24px;
}

.form__title {
  margin-bottom: 20px;
}

.form__comment {
  width: 279px;
  min-height: 150px;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  margin-bottom: 56px;
}

.form__comment::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__button {
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 49px;
}

.form__required-text {
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
  line-height: 21px;
  text-align: right;
}

@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.review {
  padding: 36px 20px 28px;
  background-color: #ffffff;
}

.review__title {
  margin: 0;
}

.container {
  margin: 0 auto;
}

.container--design {
  background-color: #ffffff;
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
  }

  .container--design {
    background-color: #e7e5e5;
  }
}
@media (min-width: 1280px) {
  .video {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .video__container {
    padding: 58px 0 66px;
    width: 445px;
    margin: 0 auto;
  }
}
.video__wrapper {
  position: relative;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
}

.video__container {
  padding: 17px 26px 38px 28px;
}

.video__title {
  margin: 0;
  margin-bottom: 27px;
}

.copyright {
  display: flex;
  gap: 12px;
  justify-content: center;
  text-decoration: none;
  color: #000000;
}

.copyright__description {
  align-self: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.gallery-item__image {
  margin-bottom: 15px;
  order: -1;
}

.gallery-item__title {
  margin: 0;
}

.gallery-item__number {
  padding-left: 37px;
  font-weight: 700;
}

.gallery-item__description {
  margin-bottom: 16px;
  color: #333333;
}

.gallery-item__wrapper {
  text-align: left;
}

@media (min-width: 768px) {
  .gallery-item:first-child {
    grid-column: 1/-1;
  }

  .gallery-item__image {
    grid-column: 1/-1;
    margin: 0;
  }

  .gallery-item {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f2f2;
  }

  .gallery-item--another-color {
    background-color: #eaeaea;
  }

  .gallery-item__title {
    min-width: 209px;
  }

  .gallery-item__description {
    margin: 0;
  }

  .gallery-item__wrapper {
    padding: 22px 20px 15px;
    justify-self: start;
  }

  .gallery-item__container {
    padding: 28px 20px 27px;
    justify-self: end;
  }

  .gallery-item__number {
    padding-left: 9px;
  }
}
/*# sourceMappingURL=style.css.map */