.nav-list {
  @include list-reset;
}

.nav-list__link {
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  display: block;
  background-color: $base-color;
  padding-top: 17px;
  padding-bottom: 12px;
}

.nav-list__item--current {
  color: #766357;
}

@media (min-width: $tablet-width) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: static;
  }

  .nav-list__item {
    width: 20%;
  }

  .nav-list__item:nth-child(3n) {
    margin-left: 20%;
  }

  .nav-list__link {
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
