$base-color: #81b3d2;
$white-color: #ffffff;
$main-font: "PT Sans", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
$hover-color: #669ec0;
$active-color: #5496bd;
